@import "~/css/variables.scss";
@import "~/css/icons/material-icons.css";
@import "~/css/fonts/noto/noto.css";
body {
  background-color: var(--bg-normal);
  line-height: 1.6;
  font-size: 14px;
  color: var(--fg-normal);
  font-family: "Noto Sans", serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

input,
button {
  border: none;
  outline: none;
  margin: 0.1em;
  font: inherit;
}

input {
  box-sizing: border-box;
  background: var(--inset-bg);
  color: inherit;
  border-bottom: 1px solid var(--border);
  padding: 0.2 * $unit;
}

input:enabled {
  color: var(--inset-fg);
}

button,
.btn {
  transition: background $transitionTime;
  padding: 0.2 * $unit 0.6 * $unit;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .material-icons {
    padding: 0;
    // display: inline-block;
    line-height: 1;
    // height: 2em;
  }
}

.minigrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: $smgap;
  align-items: stretch;
}

@mixin hover-border {
  &:hover,
  &:focus {
    border: 1px solid var(--plasma-blue);
  }
  &:disabled {
    border: 1px solid var(--border-gray); /* override hover */
  }
}

@mixin disabled-button {
  &:disabled,
  &:disabled:hover {
    background-color: var(--icon-gray);
    color: var(--alternate-gray);
  }
}

button:enabled,
.btn {
  background: var(--btn-bg);
  background-image: var(--btn-bg-gradient);
  color: var(--btn-fg);
  border: 1px solid var(--border);
  
  @include hover-border;
  @include disabled-button();
  &.active {
    border: 1px solid $plasma-blue;
    background-image: var(--btn-active-bg-gradient);
  }
  // &.commit {
  //   background: $commit;
  // }
  // &.restore {
  //   background: $restore;
  // }
}

// .dark button:enabled, .dark .btn {
//   background-image: linear-gradient(var(--btn-bg), var(--bg-normal));
// }

// .light button:enabled, .light .btn {
//   background-image: linear-gradient(var(--bg-normal), var(--btn-bg));
// }

button:enabled:hover,
.btn:hover {
  // background: lighten($plasma-blue, 15);
  // &.commit {
  //   background: lighten($commit, 15);
  // }
  // &.restore {
  //   background: lighten($restore, 15);
  // }
  border: 1px solid $plasma-blue;
}

button[disabled],
button[disabled]:hover,
.btn.disabled,
.btn.active.disabled,
.btn.disabled:hover {
  background: var(--bg-alternate);
  border: 1px solid var(--border);
  color: var(--fg-inactive);
  &.commit {
    background: inherit;
  }
}

button:enabled:active,
.btn.enabled:active {
  border: 1px solid $plasma-blue;
  background: $plasma-blue;
  &.commit {
    background: $commit;
  }
  &.restore {
    background: $restore;
  }
}

button.square {
  width: 2em;
  height: 2em;
  align-self: center;
  padding: 0.2 * $unit;
  vertical-align: middle;
}

button.red {
  &:enabled {
    background: var(--btn-warn-bg-gradient);
  }
  &:enabled:hover, &:enabled:active {
    border: 1px solid $danger-red;
  }
}

.flex-row {
  display: flex;
}

a {
  color: $link;
}

a:hover,
a:active {
  color: $linkActive;
}

.padded {
  padding: $unit;
  .view {
    margin-bottom: $unit;
  }
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $unit;
  align-items: stretch;
  padding: $lggap;
}
select {
  background: var(--inset-bg);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: $medgap;
  font-size: 115%;
  border-bottom: 1px solid var(--border);
  color: var(--fg-normal) !important;
}

.gap-bottom { margin-bottom: $unit; }


.status-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $unit;
  align-items: stretch;

  .status-tile {
    margin-bottom: 0;
    text-align: center;
    padding: $medgap;

    .name {
      color: var(--fg-active);
      font-weight: bold;
    }
  }
}