@import './variables.scss';
@import './icons/material-icons.css';

body {
background: $base03;
line-height: 1.6;
font-size: 1rem;
color: $base0;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
line-height: 1.2
}

input, button {
    border: none;
    outline: none;
    margin: 0.1em;
    font: inherit;
    line-height: 1;
    height: 2em;
}

input {
    box-sizing: border-box;
    background: $base02;
    color: inherit;
    border-bottom: 1px solid $base1;
    padding: 0.2 * $unit;
}
input:enabled {
    color: $base2;
}

button {
    transition: background 0.2s;
    border-radius: $round-radius;
    padding: 0.2 * $unit 0.6 * $unit;
    .material-icons {
        padding: 0;
        display: inline;
    }
}
button:enabled {
    color: $base03;
    border: 1px solid $base03;
    cursor: pointer;
    background: $blue;
}
button:enabled:hover {
    background: lighten($blue, 15);
}

button[disabled], button[disabled]:hover {
    background: $base02;
    border: 1px solid $base03;
}

.flex-row {
    display: flex;
}
