@use "sass:color";

// var(--inset-bg):    #002b36;  // bg
// var(--bg-alternate):    #073642;  // lighter bg
// $base01:    #586e75;
// $base00:    #657b83;
// $base0:     #839496; // default text
// $base1:     #93a1a1; // lighter text
// var(--fg-normal):     #eee8d5;
// $base3:     #fdf6e3;
// $yellow:    #b58900;
// $orange:    #cb4b16;
// $red:       #dc322f;
// $magenta:   #d33682;
// $violet:    #6c71c4;
// $blue:      #268bd2;
// $cyan:      #2aa198;
// $green:     #859900;
// Breeze
$darken-pct: 0;
// Primary colors
$paper-white: #fcfcfc;
$cardboard-gray: #eff0f1;
$alternate-gray: #bdc3c7;
$icon-gray: #4d4d4d;
$charcoal-gray: #31363b;
$shade-black: #232629;
$plasma-blue: #3daee9;
// Secondary
$pimpinella: #e74c3c;
$icon-red: #da4453;
$danger-red: #ed1515;
$terracotta: #c0392b; /* our name */
$icon-orange: #f47750;
$old-orange: #d35400; /* our name */
$beware-orange: #f67400;
$icon-yellow: #fdbc4b;
$kumquat: #f39c1f; /* our name */
$sunbeam-yellow: #c9ce3b;
$mellow-turquoise: #1cdc9a;
$verdant-green: #11d116;
$icon-green: #2ecc71;
$noble-fir: #27ae60;
$abyss-blue: #2980b9;
$hyper-blue: #3daee6;
$hover-blue: #93cee9;
$icon-blue: #1d99f3;
$icon-violet: #9b59b6; /* our name */

// Additional
// In guides only
$burnt-charcoal: #3b4045;
$coastal-fog: rgb(127, 140, 141);
$lazy-gray: #afb0b3;
// Other
$deco-blue: #1e92ff;
$border-gray: #77797d; /* ours */

$smgap: 0.125rem;
$medgap: 0.25rem;
$lggap: 0.5rem;
$unit: 1rem;
$round-radius: 0.3 * $unit;
$ok: $plasma-blue;
$alert: $icon-yellow;
$warning: $beware-orange;
$error: $danger-red;
$restore: $icon-violet;
$edit: $kumquat;
$commit: $icon-green;
$link: $hyper-blue;
$linkActive: $plasma-blue;
$transitionTime: 0.2s;