@use "sass:color";
@use "@/css/variables.scss" as *;
@use "@/css/icons/material-icons.css" as *;
@use "@/css/fonts/noto/noto.css" as *;

body {
  height: 100vh;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  --btn-active: #{$plasma-blue};
  &.dark {
    // background: #{$charcoal-gray};
    // background: , url("@/css/images/vizzy.svg");
    background-image: url("@/css/images/vizzy.svg"), linear-gradient(180deg, rgba(49,54,59,1) 0%, rgba(49,55,61,1) 57%, rgba(57,75,109,1) 73%, rgba(149,122,146,1) 86%, rgba(189,130,123,1) 92%, rgba(242,146,90,1) 95%, rgba(254,219,116,1) 97%, rgba(245,115,24,1) 100%);
    // background-size: cover;
    background-position: bottom -5px right -5px, auto;
    background-size: 50%, cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    --btn-bg: #{$charcoal-gray};
    --btn-bg-gradient: linear-gradient(#{$charcoal-gray}, #{$shade-black});
    --btn-active-bg-gradient: linear-gradient(#{$icon-blue}, #{color.adjust($icon-blue, $lightness: -40%)});
    --btn-commit-bg-gradient: linear-gradient(#{color.adjust($commit, $lightness: 10%)}, #{$commit});
    --btn-edit-bg-gradient: linear-gradient(#{color.adjust($edit, $lightness: 10%)}, #{$edit});
    --btn-warn-bg-gradient: linear-gradient(#{$danger-red}, #{color.adjust($danger-red, $lightness: -40%)});
    --btn-fg: #{$cardboard-gray};
    --inset-bg: #{$shade-black};
    --inset-fg: #{$cardboard-gray};
    --bg-alternate: #{$icon-gray};
    --bg-normal: #{$charcoal-gray};
    

    --deco-focus: #{$plasma-blue};
    --deco-hover: #{$plasma-blue};
    --fg-active: #{$plasma-blue};
    --fg-inactive: #{$coastal-fog};
    --border: #{$coastal-fog};
    --fg-link: #{$abyss-blue};
    --fg-negative: #{$icon-red};
    --fg-neutral: #{$beware-orange};
    --fg-normal: #{$cardboard-gray};
    color: #{$cardboard-gray};
    --fg-positive: #{$noble-fir};
    --fg-visited: #{$coastal-fog};
    .view {
      --bg-alternate: #{$charcoal-gray};
      --bg-normal: #{$shade-black};
      
      background: color.scale($shade-black, $alpha: -20%);
      
      --inset-bg: #{$charcoal-gray};
      --inset-fg: #{$cardboard-gray};
      border: 1px solid var(--border);
    }
  }
  &.light {
    --btn-bg: #{$cardboard-gray};
    --btn-fg: #{$charcoal-gray};
    --inset-bg: #{$paper-white};
    --inset-fg: #{$charcoal-gray};
    --bg-alternate: #{$alternate-gray};
    --bg-normal: #{$cardboard-gray};
    background: #{$cardboard-gray};
    --deco-focus: #{$plasma-blue};
    --deco-hover: #{$hover-blue};
    --fg-active: #{$plasma-blue};
    --fg-inactive: #{$coastal-fog};
    --border: #{$alternate-gray};
    --fg-link: #{$abyss-blue};
    --fg-negative: #{$icon-red};
    --fg-neutral: #{$beware-orange};
    --fg-normal: #{$shade-black};
    color: #{$shade-black};
    --fg-positive: #{$noble-fir};
    --fg-visited: #{$coastal-fog};
    .view {
      --bg-alternate: #{$alternate-gray};
      --bg-normal: #{$paper-white};
      background: #{$paper-white};
      color: #{$charcoal-gray};
      --inset-bg: #{$cardboard-gray};
      --inset-fg: #{$shade-black};
      border: 1px solid var(--border);
    }
  }
}

body {
  // background-color: var(--bg-normal);
  line-height: 1.6;
  font-size: 14px;
  color: var(--fg-normal);
  font-family: "Noto Sans", serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

input,
button {
  border: none;
  outline: none;
  margin: 0.1em;
  font: inherit;
}

input, select {
  box-sizing: border-box;
  background: var(--inset-bg);
  color: inherit;
  border-bottom: 1px solid var(--border);
  padding: 0.2 * $unit;
}

input:enabled, select:enabled {
  color: var(--inset-fg);
}

button,
.btn {
  transition: background $transitionTime;
  padding: 0.2 * $unit 0.6 * $unit;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .material-icons {
    padding: 0;
    // display: inline-block;
    line-height: 1;
    // height: 2em;
  }
}

.minigrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: $smgap;
  align-items: stretch;
}

@mixin hover-border {
  &:hover,
  &:focus {
    border: 1px solid var(--deco-focus);
  }
  &:disabled {
    border: 1px solid var(--border-gray); /* override hover */
  }
}

@mixin disabled-button {
  &:disabled,
  &:disabled:hover {
    background-color: var(--icon-gray);
    color: var(--alternate-gray);
  }
}

button:enabled,
.btn {
  background: var(--btn-bg);
  background-image: var(--btn-bg-gradient);
  color: var(--btn-fg);
  border: 1px solid var(--border);
  
  @include hover-border;
  @include disabled-button();
  &.active {
    border: 1px solid $plasma-blue;
    background-image: var(--btn-active-bg-gradient);
  }
  // &.commit {
  //   background: $commit;
  // }
  // &.restore {
  //   background: $restore;
  // }
}

// .dark button:enabled, .dark .btn {
//   background-image: linear-gradient(var(--btn-bg), var(--bg-normal));
// }

// .light button:enabled, .light .btn {
//   background-image: linear-gradient(var(--bg-normal), var(--btn-bg));
// }

button:enabled:hover,
.btn:hover {
  // background: lighten($plasma-blue, 15);
  // &.commit {
  //   background: lighten($commit, 15);
  // }
  // &.restore {
  //   background: lighten($restore, 15);
  // }
  border: 1px solid $plasma-blue;
}

button[disabled],
button[disabled]:hover,
.btn.disabled,
.btn.active.disabled,
.btn.disabled:hover {
  background: var(--bg-alternate);
  border: 1px solid var(--border);
  color: var(--fg-inactive);
  &.commit {
    background: inherit;
  }
}

button:enabled:active,
.btn.enabled:active {
  border: 1px solid $plasma-blue;
  background: $plasma-blue;
  &.commit {
    background: $commit;
  }
  &.restore {
    background: $restore;
  }
}

button.square {
  width: 2em;
  height: 2em;
  align-self: center;
  padding: 0.2 * $unit;
  vertical-align: middle;
}

button.red {
  &:enabled {
    background: var(--btn-warn-bg-gradient);
  }
  &:enabled:hover, &:enabled:active {
    border: 1px solid $danger-red;
  }
}

.flex-row {
  display: flex;
}

a {
  color: $link;
}

a:hover,
a:active {
  color: $linkActive;
}

.padded {
  padding: $unit;
}

// .view {
//   margin-bottom: $unit;
// }
// .view:last-child {
//   margin-bottom: 0;
// }
.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $unit;
  align-items: stretch;
  padding: $lggap;
}
// select {
//   appearance: none;
//   // background: var(--inset-bg);
//   // border-top: none;
//   // border-left: none;
//   // border-right: none;
//   // padding-bottom: $medgap;
//   padding: 0;
//   margin: 0;
//   font-size: inherit;
//   // border-bottom: 1px solid var(--border);
//   color: var(--fg-normal) !important;
//   cursor: inherit;
//   line-height: inherit;
//   box-sizing: border-box;
//   &::before {
//     box-sizing: border-box;
//   }
//   &::after {
//     box-sizing: border-box;
//   }
// }

select {
  background: var(--inset-bg);
  border-top: none;
  border-left: none;
  border-right: none;
  padding-right: 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  color: inherit;
  outline: none;
}


.gap-bottom { margin-bottom: $unit; }


.status-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $unit;
  align-items: stretch;
}

.status-tile {
  // margin-bottom: 0;
  text-align: center;
  padding: $medgap;

  .name {
    color: var(--fg-active);
    font-weight: bold;
  }
}